<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	
	<environments default="clase">
		<environment id="clase">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
			
						<property name="driver" value="com.mysql.cj.jdbc.Driver" />
						<property name="url" value="jdbc:mysql://localhost/bd_venta_software_hardware?serverTimezone=UTC" />
						<property name="username" value="root" />
						<property name="password" value="abcd.1234" />
						
			</dataSource>
		</environment>
	</environments>
	
	

	<mappers>
	
		<mapper resource="com/empresa/proyecto/mapper/TrabajadorMapperDao.xml"/>
		<mapper resource="com/empresa/proyecto/mapper/CatalogoMapperDao.xml"/>
	
	</mappers>
	


</configuration>
