html,body{
    height: 100%;
}

.contenedor{
    height: 100%;

}

.indicadores-ol{
	position: static !important;
	display: block !important;
}

.indicadores-li{
	margin-top: 20px;
	margin-bottom: 20px;
}

.carousel-control-next-icon:after
{
  content: '>' !important;
  color: #808080 !important;
}

.carousel-control-prev-icon:after
{
  content: '<' !important;
  color: #808080 !important;
}